.container {
    display: grid;
    grid-template-columns:  7.5% 1fr 7.5% 1fr 7.5% 1fr 7.5%;
    grid-template-rows: 100px 600px 25% 10% 10% auto;
  }
.item-a{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: blue;
}
.item-b{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background: green;
}
.item-c{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background: green;
}
.item-d{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    background: green;
}